<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="#" class="navbar-toggle" (click)="displayMenu = !displayMenu">
          <span class="pi pi-bars"></span>
        </a>
      </div>
    </div>
  </div>
  <ul class="navbar-menu" [hidden]="!displayMenu">
    <li class="navbar-user">José da Silva</li>
    <li class="navbar-menu-item"><a href="#">Lançamentos</a></li>
    <li class="navbar-menu-item"><a href="#">Pessoas</a></li>
    <li class="navbar-menu-item"><a href="#">Logout</a></li>
  </ul>
</nav>
