<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="Pesquisar" class="titleButton"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <app-peoples-grid [peoples]="peoples"></app-peoples-grid>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="Nova Pessoa" class="titleButton"></button>
    </div>
  </div>
</div>
