<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-12">
      <label class="dBlock">Vencimento</label>
      <input pInputText type="text" class="dateWidth">

      <label class="labelAte">até</label>
      <input pInputText type="text" class="dateWidth">
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="Pesquisar" class="titleButton"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <app-releases-grid [releases]="releases"></app-releases-grid>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="Novo Lançamento" class="titleButton"></button>
    </div>
  </div>
</div>
